.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .days-of-week, .dates {
    display: flex;
    flex-wrap: wrap;
  }
  
  .day, .day-of-week {
    width: 14.28%;
    text-align: center;
  }
  
  .empty {
    visibility: hidden;
  }
  